<nav class="flex justify-between py-10 w-[80%] mx-auto">
    <div class="text-2xl font-extrabold ">Logo</div>
    <div class="flex gap-x-10">
        <% if(user) { %>
            <a href="/user/profile">Home</a>
            <% }else { %>
                <a href="/">Home</a>

                <% } %>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
    </div>

    <div>

        <% if(user) { %>
            <a class="bg-red-300 px-5 py-2 rounded" href="/user/logout">Logout</a>

            <% }else { %>
                <a class="bg-green-300 px-5 py-2 rounded" href="/login">Login</a>


                <% } %>

    </div>

</nav>