<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
    <!--  -->
    <div class="w-[80%] mx-auto p-10 bg-zinc-700 rounded">
      <h1 class=" mb-10 text-white text-5xl font-bold">This is Contact Page</h1>
      <a class="bg-red-300 px-5 py-2 text-white rounded" href="/login">Start Your Journey</a>
    </div>
    <!--  -->
    <%- include('partials/footer')%>