<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
    <!--  -->
    <div class="w-[80%] mx-auto p-10 ">
      <form class="text-2xl m-auto w-1/2" action="/user/login" method="post">
        <h1 class=" mb-10  text-5xl font-bold">Login User</h1>
        <input class="w-full mb-5 border p-3 rounded" type="text" placeholder="username" name="username">
        <input class=" mb-5  w-full border p-3 rounded" type="password" placeholder="********" name="password">
        <p class="text-right mb-3"><a class="text-blue-400" href="/forget-email">forgot password ?</a></p>
        <button class="mb-5 hover:bg-red-400 w-1/2 bg-red-300 px-5 py-2 text-white rounded" ">Login User</button>
      <p>Don't have an account ? <a class=" text-blue-400" href=" /register">Register</a></p>
      </form>
    </div>
    <!--  -->
    <%- include('partials/footer')%>